body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'IM Fell English', serif !important;
  font-size: 24px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  width: 80% !important;
}

.column-container {
  padding: 5vw 0 0 0;
}

.icon-container {
  padding: 0 2% 0 2%;
}

.menu-icon-image {
  height: 120%;
  width: 120%;
  padding: 0 0 0 0;
}

.outer-icon {
  margin-bottom: 10%;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.about-icon {
  animation: floating 4s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
.products-icon {
  animation: floating 3.5s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.wisdom-icon {
  animation: floating 3s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
.faq-icon {
  animation: floating 4.5s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes floating { 
  0% { transform: translate(0,  0px); }
  100%   { transform: translate(0, 15px); }     
} 

.row .col {
  padding: 0 0 0 0 !important;
}

.row .col.s4 {
  width: 35% !important;
}

/* Not working */
.menu-icon:hover {
  transform: translate(0, -10%);
}

/* Doesn't Exist */
.icon-image {
  height: 100%;
  width: 100%;
  text-align: center;
}
.icon-image:hover {
  position: center;
  background-repeat: no-repeat;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}


.background-icon {
  width: 100%;
  height: 100%
}

.primary-icon img {
  opacity: 0;
  transition: all 1s;
}

.primary-icon:hover img {
  opacity: 1;
}

.primary-icon {
  background-image: url("assets/images/QualiTreesLogo.png");
  background-position: 54% 17%;
  background-size: 85%;
  background-repeat: no-repeat;
}

.becomeNav .primary-icon {
  animation: grow 2s;
  transform: scale(1.2);
}

@keyframes grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.2); }
}

.clickTransform.becomeNav {
  animation: moveUp 2s;
  transform: translate(0, -28%) scale(0.5);
  margin-bottom: -18%;
}

@keyframes moveUp { 
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(0, -28%) scale(0.5); }
} 

.becomeNav .about-icon {
  animation: about-grow 2s;
  transform: scale(1.4) translateX(-120%);
}
@keyframes about-grow {
  0% { transform: scale(1) translateX(0%); }
  100% { transform: scale(1.4) translateX(-120%); }
}
.startFloat .about-icon {
  animation: about-floating 4s ease-in-out infinite;
  animation-direction: alternate;
  transform: scale(1.4) translate(-120%, 0%);
}
@keyframes about-floating { 
  0% { transform: scale(1.4) translate(-120%,  0%); }
  100%   { transform: scale(1.4) translate(-120%, 15px); }
}

.becomeNav .products-icon {
  animation: products-grow 2s;
  transform: scale(1.4) translateX(-50%);
}
@keyframes products-grow {
  0% { transform: scale(1) translateX(0%); }
  100% { transform: scale(1.4) translateX(-50%); }
}
.startFloat .products-icon {
  animation: products-floating 3.5s ease-in-out infinite !important;
  animation-direction: alternate !important;
  transform: scale(1.4) translate(-50%, 0%);
}
@keyframes products-floating { 
  0% { transform: scale(1.4) translate(-50%,  0%); }
  100%   { transform: scale(1.4) translate(-50%, 15px); }
} 

.becomeNav .wisdom-icon {
  animation: wisdom-grow 2s;
  transform: scale(1.4) translateX(50%);
}
@keyframes wisdom-grow {
  0% { transform: scale(1) translateX(0%); }
  100% { transform: scale(1.4) translateX(50%); }
}
.startFloat .wisdom-icon {
  animation: wisdom-floating 3s ease-in-out infinite !important;
  animation-direction: alternate !important;
  transform: scale(1.4) translate(50%, 0%);
}
@keyframes wisdom-floating { 
  0% { transform: scale(1.4) translate(50%,  0%); }
  100%   { transform: scale(1.4) translate(50%, 15px); }
} 

.becomeNav .faq-icon {
  animation: faq-grow 2s;
  transform: scale(1.4) translateX(120%);
}
@keyframes faq-grow {
  0% { transform: scale(1) translateX(0%); }
  100% { transform: scale(1.4) translateX(120%); }
}
.startFloat .faq-icon {
  animation: faq-floating 4.5s ease-in-out infinite !important;
  animation-direction: alternate !important;
  transform: scale(1.4) translate(120%, 0%);
}
@keyframes faq-floating { 
  0% { transform: scale(1.4) translate(120%,  0%); }
  100%   { transform: scale(1.4) translate(120%, 15px); }
} 

.becomeNav .products-icon {
  animation: products-grow 2s;
  transform: scale(1.4) translateX(-50%);
}
.becomeNav .wisdom-icon {
  animation: wisdom-grow 2s;
  transform: scale(1.4) translateX(50%);
}
.becomeNav .faq-icon {
  animation: faq-grow 2s;
  transform: scale(1.4) translateX(120%);
}

@keyframes products-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(-50%); }
}

@keyframes wisdom-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(50%); }
}

@keyframes faq-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(120%); }
}


.fade-in {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards; 
}
.fade-in-delay {
  animation: fadeIn ease 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.fade-in-hrdelay {
  animation: fadeIn ease 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards; 
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* FAQ */
.faq {
  width: 100%;
  padding-top: 65px;
  padding-bottom: 80px;
}
.faq__title {
  margin: 0;
  padding-bottom: 25px;
}

.faq__question {
  max-width: 350px;
  width: 100%;
  border-bottom: 1px solid;
}

.faq__question-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  padding: 0px;
  cursor: pointer;

  /* padding-top: 18px; */
  /* padding-bottom: 18px; */
}
.faq__question-button::after {
  /* content: url(../images/icon-arrow-down.svg); */
  margin-right: 17px;
  transform: rotate(90deg);
}

.faq__question-button:hover {
  color: blue;
}

.faq__question-button__desc {
  margin-left: -40px;
  padding-right: 17px;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 200ms ease-out;
}
.faq__desc.show-description {
  height: 2rem;
  margin-bottom: 15px;
}

/* Arrows */

/* closed */
/* .faq__question-button::after {
  transition: transform 300ms ease-out;
} */

/* open */
/* .font-weight-bold::after {
  transform: rotate(720deg);
} */