body {
  margin: 0;
  font-family: 'IM Fell English', serif !important;
  font-size: 24px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input {
  font-size: 20px !important;
  font-family: 'IM Fell English', serif !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spacing-none {
  padding: 0;
  margin: 0;
}

.overflow-break {
  overflow-wrap: break-word;
  font-size: 0px;
}

.no-break {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

hr {
  width: 80% !important;
}

.column-container {
  padding: 5vw 0 0 0;
}

.container {
  width: auto !important;
}

.icon-container {
  padding: 15px 2% 0 2%;
}

.menu-icon-image {
  height: 120%;
  width: 120%;
  padding: 0 0 0 0;
}

.outer-icon {
  margin-bottom: 10%;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.about-icon {
  animation: floating 4s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
.products-icon {
  animation: floating 3.5s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
.wisdom-icon {
  animation: floating 3s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
.faq-icon {
  animation: floating 4.5s linear infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}
@keyframes floating { 
  0% { transform: translate(0,  0px); }
  100%   { transform: translate(0, 15px); }     
} 

.row .col {
  padding: 0 0 0 0 !important;
}

.row .col.s4 {
  width: 35% !important;
}

/* Doesn't Exist */
.icon-image {
  height: 100%;
  width: 100%;
  text-align: center;
}
.icon-image:hover {
  position: center;
  background-repeat: no-repeat;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}

.background-icon {
  width: 100%;
  height: 100%
}

.primary-icon img {
  opacity: 0;
  transition: all 1s;
}

.primary-icon:hover img {
  opacity: 1;
}

.primary-icon {
  background-image: url("assets/images/QualiTreesLogo.png");
  background-position: 54% 17%;
  background-size: 85%;
  background-repeat: no-repeat;
}

@media (max-width: 525px) {
  .becomeNavMobile.icon-container {
    height: 95vw !important;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 20px !important;
  }
  .q-a-header {
    font-size: 30px !important;
  }

  .icon-container {
    height: 245vw;
  }
  .becomeNavMobile.icon-container {
    height: 110vw;
  }

  .about-icon {
    position: absolute;
    top: 92vw;
    left: 8vw !important;
    width: 40% !important;
  }
  .products-icon {
    position: absolute;
    top: 92vw;
    left: 52vw !important;
    width: 40% !important;
  }
  .primary-icon {
    position: absolute;
    top: 28vw;
    left: 33vw !important;
    transform: scale(2.3);
  }
  .wisdom-icon {
    position: absolute;
    top: 173vw;
    left: 52vw !important;
    width: 40% !important;
  }
  .faq-icon {
    position: absolute;
    top: 173vw;
    left: 8vw !important;
    width: 40% !important;
  }

  /* PRIMARY MOBILE ANIMATIONS */
  @keyframes primaryMobile {
    0% { transform: translate(0, 0) scale(2.28); }
    100% { transform: translate(0, -28%) scale(1.4); }
  }
  .becomeNavMobile .primary-icon {
    animation: primaryMobile 2s;
    transform: translate(0, -28%) scale(1.4);
  }

  /* ABOUT MOBILE ANIMATIONS */
  @keyframes aboutMobile {
    0% { transform: translate(0, 0) scale(1) }
    100% { transform: translate(-26.5%, -125%) scale(0.7) }
  }
  .becomeNavMobile .about-icon {
    animation: aboutMobile 2s;
    transform: translate(-26.5%, -125%) scale(0.7);
  }
  .startMobileFloat .about-icon {
    animation: aboutMobileFloating 4.5s ease-in-out infinite;
    animation-direction: alternate;
    transform: translate(-26.5%, -125%) scale(0.7);
  }
  @keyframes aboutMobileFloating { 
    0% { transform: translate(-26.5%, -125%) scale(0.7); }
    100%   { transform: translate(-26.5%, -130%) scale(0.7) ; }
  }

  /* PRODUCTS MOBILE ANIMATIONS */
  @keyframes productsMobile {
    0% { transform: translate(0, 0) scale(1) }
    100% { transform: translate(28%, -125%) scale(0.7) }
  }
  .becomeNavMobile .products-icon {
    animation: productsMobile 2s;
    transform: translate(28%, -125%) scale(0.7);
  }
  .startMobileFloat .products-icon {
    animation: productsMobileFloating 6s ease-in-out infinite;
    animation-direction: alternate;
    transform: translate(28%, -125%) scale(0.7);
  }
  @keyframes productsMobileFloating { 
    0% { transform: translate(28%, -125%) scale(0.7); }
    100%   { transform: translate(28%, -130%) scale(0.7) ; }
  }

  /* WISDOM MOBILE ANIMATIONS */
  @keyframes wisdomMobile {
    0% { transform: translate(0, 0) scale(1) }
    100% { transform: translate(-19%, -160%) scale(0.7) }
  }
  .becomeNavMobile .wisdom-icon {
    animation: wisdomMobile 2s;
    transform: translate(-19%, -160%) scale(0.7);
  }
  .startMobileFloat .wisdom-icon {
    animation: wisdomMobileFloating 5s ease-in-out infinite;
    animation-direction: alternate;
    transform: translate(-19%, -160%) scale(0.7);
  }
  @keyframes wisdomMobileFloating { 
    0% { transform: translate(-19%, -160%) scale(0.7); }
    100%   { transform: translate(-19%, -155%) scale(0.7) ; }
  }

  /* FAQ MOBILE ANIMATIONS */
  @keyframes faqMobile {
    0% { transform: translate(0, 0) scale(1) }
    100% { transform: translate(20%, -160%) scale(0.7) }
  }
  .becomeNavMobile .faq-icon {
    animation: faqMobile 2s;
    transform: translate(20%, -160%) scale(0.7);
  }
  .startMobileFloat .faq-icon {
    animation: faqMobileFloating 4s ease-in-out infinite;
    animation-direction: alternate;
    transform: translate(20%, -160%) scale(0.7);
  }
  @keyframes faqMobileFloating { 
    0% { transform: translate(20%, -160%) scale(0.7); }
    100%   { transform: translate(20%, -155%) scale(0.7) ; }
  }

}


@media (min-width: 769px) {
  .column-container {
    min-height: 100vh;
    align-items: center;
  }

  .becomeNav .primary-icon {
    animation: grow 2s;
    transform: scale(1.2);
  }

  @keyframes grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.2); }
  }

  .clickTransform.becomeNav {
    animation: moveUp 2s;
    transform: translate(0, -28%) scale(0.5);
    margin-bottom: -18%;
  }

  @keyframes moveUp { 
    0% { transform: translate(0, 0) scale(1); }
    100% { transform: translate(0, -28%) scale(0.5); }
  } 

  .becomeNav .about-icon {
    animation: about-grow 2s;
    transform: scale(1.4) translateX(-120%);
  }
  @keyframes about-grow {
    0% { transform: scale(1) translateX(0%); }
    100% { transform: scale(1.4) translateX(-120%); }
  }
  .startFloat .about-icon {
    animation: about-floating 4s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.4) translate(-120%, 0%);
  }
  @keyframes about-floating { 
    0% { transform: scale(1.4) translate(-120%,  0%); }
    100%   { transform: scale(1.4) translate(-120%, 15px); }
  }

  .becomeNav .products-icon {
    animation: products-grow 2s;
    transform: scale(1.4) translateX(-50%);
  }
  @keyframes products-grow {
    0% { transform: scale(1) translateX(0%); }
    100% { transform: scale(1.4) translateX(-50%); }
  }
  .startFloat .products-icon {
    animation: products-floating 3.5s ease-in-out infinite !important;
    animation-direction: alternate !important;
    transform: scale(1.4) translate(-50%, 0%);
  }
  @keyframes products-floating { 
    0% { transform: scale(1.4) translate(-50%,  0%); }
    100%   { transform: scale(1.4) translate(-50%, 15px); }
  } 

  .becomeNav .wisdom-icon {
    animation: wisdom-grow 2s;
    transform: scale(1.4) translateX(50%);
  }
  @keyframes wisdom-grow {
    0% { transform: scale(1) translateX(0%); }
    100% { transform: scale(1.4) translateX(50%); }
  }
  .startFloat .wisdom-icon {
    animation: wisdom-floating 3s ease-in-out infinite !important;
    animation-direction: alternate !important;
    transform: scale(1.4) translate(50%, 0%);
  }
  @keyframes wisdom-floating { 
    0% { transform: scale(1.4) translate(50%,  0%); }
    100%   { transform: scale(1.4) translate(50%, 15px); }
  } 

  .becomeNav .faq-icon {
    animation: faq-grow 2s;
    transform: scale(1.4) translateX(120%);
  }
  @keyframes faq-grow {
    0% { transform: scale(1) translateX(0%); }
    100% { transform: scale(1.4) translateX(120%); }
  }
  .startFloat .faq-icon {
    animation: faq-floating 4.5s ease-in-out infinite !important;
    animation-direction: alternate !important;
    transform: scale(1.4) translate(120%, 0%);
  }
  @keyframes faq-floating { 
    0% { transform: scale(1.4) translate(120%,  0%); }
    100%   { transform: scale(1.4) translate(120%, 15px); }
  } 

  .becomeNav .products-icon {
    animation: products-grow 2s;
    transform: scale(1.4) translateX(-50%);
  }
  .becomeNav .wisdom-icon {
    animation: wisdom-grow 2s;
    transform: scale(1.4) translateX(50%);
  }
  .becomeNav .faq-icon {
    animation: faq-grow 2s;
    transform: scale(1.4) translateX(120%);
  }

  @keyframes products-grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.4) translateX(-50%); }
  }

  @keyframes wisdom-grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.4) translateX(50%); }
  }

  @keyframes faq-grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.4) translateX(120%); }
  }
}
 /* FADE IN STYLING */
.fade-in-fast {
  animation: fadeIn ease 1.5s;
  animation-fill-mode: forwards; 
}
.fade-in {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards; 
}
.fade-in-delay {
  animation: fadeIn ease 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; 
  opacity: 0;
}
.fade-in-hrdelay {
  animation: fadeIn ease 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards; 
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

/* FAQ */
.faq {
  outline: none;
}
.faq__question {
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 15px;
}
.faq__answer {
  margin-right: 10%;
  margin-left: 10%;
}
.q-a-header {
  font-weight: bold;
  font-size: 40px;
  margin: -5px 0 0 5px;
}
.no-outline {
  outline: none;
}