body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column-container {
  padding: 5vw 0 0 0;
}

.icon-container {
  padding: 0 2% 0 2%;
}

.menu-icon-image {
  height: 120%;
  width: 120%;
  padding: 0 0 0 0;
}

.outer-icon {
  margin-bottom: 10%;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s;
}

.about-icon {
  animation: floating 5.5s linear infinite;
  animation-timing-function: ease-in-out;
}
.products-icon {
  animation: floating 6s linear infinite;
  animation-timing-function: ease-in-out;
}
.wisdom-icon {
  animation: floating 5s linear infinite;
  animation-timing-function: ease-in-out;
}
.faq-icon {
  animation: floating 6.5s linear infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 15px); } 
  100%   { transform: translate(0, -0px); }     
} 

.row .col {
  padding: 0 0 0 0 !important;
}

.row .col.s4 {
  width: 35% !important;
}

/* Not working */
.menu-icon:hover {
  transform: translate(0, -10%);
}

/* Doesn't Exist */
.icon-image {
  height: 100%;
  width: 100%;
  text-align: center;
}
.icon-image:hover {
  position: center;
  background-repeat: no-repeat;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}


.background-icon {
  width: 100%;
  height: 100%
}

.primary-icon img {
  opacity: 0;
  transition: all 1s;
}

.primary-icon:hover img {
  opacity: 1;
}

.primary-icon {
  background-image: url("assets/images/QualiTreesLogo.png");
  background-position: 54% 17%;
  background-size: 85%;
  background-repeat: no-repeat;
}

.clickTransform.becomeNav {
  animation: moveUp 2s;
  transform: translate(0, -30%) scale(0.5);
  margin-bottom: -20%;
}

@keyframes moveUp { 
  0% { transform: translate(0, 0) scale(1); }
  100% { transform: translate(0, -30%) scale(0.5); }
} 

/* .becomeNav .menu-icon {
  animation: grow 2s;
  transform: scale(2);
} */

.becomeNav .about-icon {
  animation: about-grow 2s forwards, floating2 5.5s ease-in-out infinite;
  /* transition: transform 5.5s; */
  transform: scale(1.4) translateX(-120%);
}
.becomeNav .products-icon {
  animation: products-grow 2s;
  transform: scale(1.4) translateX(-50%);
}
.becomeNav .wisdom-icon {
  animation: wisdom-grow 2s;
  transform: scale(1.4) translateX(50%);
}
.becomeNav .faq-icon {
  animation: faq-grow 2s;
  transform: scale(1.4) translateX(120%);
}

@keyframes about-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(-120%); }
}

@keyframes products-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(-50%); }
}

@keyframes wisdom-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(50%); }
}

@keyframes faq-grow {
  0% { transform: scale(1); }
  100% { transform: scale(1.4) translateX(120%); }
}

@keyframes floating2 { 
  0% { transform: translate(0%,  0%); } 
  50%  { transform: translate(0%, 15%); } 
  100%   { transform: translate(0%, -0px); }     
} 

.fade-in {
  animation: fadeIn ease 3s;
  animation-fill-mode: forwards; 
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}