body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-container {
  padding: 10vw 0 0 0;
}

.menu-icon-image {
  height: 100%;
  width: 100%;
  padding: 0 0 0 0;
}

.outer-icon {
  margin-bottom: 10%;
}

.menu-icon {
  transition: transform 1s;
}

.about-icon {
  animation: floating 5.5s linear infinite;
  animation-timing-function: ease-in-out;
}
.products-icon {
  animation: floating 6s linear infinite;
  animation-timing-function: ease-in-out;
}
.wisdom-icon {
  animation: floating 5s linear infinite;
  animation-timing-function: ease-in-out;
}
.faq-icon {
  animation: floating 6.5s linear infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating { 
  0% { transform: translate(0,  0px); } 
  50%  { transform: translate(0, 15px); } 
  100%   { transform: translate(0, -0px); }     
} 


/* Not working */
.menu-icon:hover {
  transform: translate(0, -10%);
}

/* Doesn't Exist */
.icon-image {
  height: 100%;
  width: 100%;
  text-align: center;
}
.icon-image:hover {
  position: center;
  background-repeat: no-repeat;
  -webkit-animation: fadein 2s;
  animation: fadein 2s;
}


.background-icon {
  width: 100%;
  height: 100%
}

.primary-icon img {
  opacity: 0;
  transition: all 1s;
}

.primary-icon:hover img {
  opacity: 1;
}

.primary-icon {
  background-image: url("assets/images/QualiTreesLogo.png");
  background-position: center;
  background-size: 85%;
  background-repeat: no-repeat;
  transform: translate(0, -2%);
}

.icon.becomeNav {
  transform: translate(50px,100px) !important;
}